<%- include('slidebar.ejs') %>
<main id="main" class="main">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">username</th>
        <th scope="col">email</th>
        <th scope="col">role</th>
        <th scope="col">created_at</th>
        <th scope="col">updated_at</th>
        <th scope="col">編輯</th>
      </tr>
    </thead>
    <tbody>
      <% allUser.forEach((user, index) => { %>
      <tr>
        <th scope="row"><%= user.ID%></th>
        <td><%= user.username%></td>
        <td><%= user.email%></td>
        <td><%= user.role%></td>
        <td><%= user.created_at%></td>
        <td><%= user.updated_at%></td>
        <td width="200">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#data<%= user.ID%>"
            data-bs-whatever="@edit"
          >編輯
          </button>
          <button type="button"
            class="btn btn-danger deleteUserBtn"
            id="deleteUserBtn"
            data-userid="data-<%= user.ID %> deleteUserBtn">
            刪除
          </button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% allUser.forEach((user, index) => { %>
  <div
    class="modal fade"
    id="data<%= user.ID%>"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">修改用戶資料</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="user-from" class="was-validated">
            <div class="mb-3" id="newUsernameDiv">
              <label for="newUsername" class="col-form-label">Username:</label>
              <input
                type="text"
                name="newUsername"
                class="form-control newUsername"
                id="newUsername"
                value="<%= user.username%>"
                data-userid="data-<%= user.ID %>"
                required
              />
            </div>
            <div class="mb-3">
              <label for="newEmail" class="col-form-label">Email:</label>
              <input
                type="email"
                name="newEmail"
                class="form-control newEmail"
                id="newEmail"
                value="<%= user.email%>"
                data-userid="data-<%= user.ID %>"
                required
              />
            </div>
            <div class="mb-3">
              <label for="newRole" class="col-form-label">Role:</label>
              <select
                id="newRole"
                name="newRole"
                class="form-select newRole"
                aria-label="Default select"
                data-userid="data-<%= user.ID %>"
              >
                <option value="<%= user.role%>" selected disabled>
                  Open this select Role(current Role: <%= user.role%>)
                </option>
                <option value="superadmin">superAdmin</option>
                <option value="admin">Admin</option>
                <option value="member">Member</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary update-user-info-btn"
            id="updateUserInfoBtn"
            data-userid="data-<%= user.ID %> updateUserInfoBtn"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</main>
<script src="/js/axios.min.js"></script>
<script src="/js/ejs.js"></script>
<script>
  (function () {
    'use strict';

    //let cancel;

    const insertCurrentVal = (
      i,
      column,
      updateUserInfoData,
      userId,
      userIdToNumber
    ) => {
      const newColumns = ['username', 'email', 'role', 'id'];
      column.forEach((el, index) => {
        if (el.getAttribute('data-userid') === userId) {
          updateUserInfoData[newColumns[i]] = el.value;
        }
      });
      updateUserInfoData.id = userIdToNumber;
    };

    const main = document.getElementById('main');

    main.addEventListener('click', function (e) {
      if(e.target.dataset.userid){
        const userId = e.target.dataset.userid.split(' ')[0]; // Edit button for which user I clicked and then compare
        const userIdSplit = userId.split('-')[1];
        const userIdToNumber = parseInt(userIdSplit, 10); // For database compare
        
        if (e.target.dataset.userid.split(' ')[1] === 'updateUserInfoBtn') {
        //console.log('更新按鈕觸發!')
        let i = 0;
        const updateUserInfoData = {};
        const username = document.querySelectorAll('.newUsername');
        const email = document.querySelectorAll('.newEmail');
        const role = document.querySelectorAll('.newRole');
        const columns = [username, email, role];

        while (i < columns.length) {
          insertCurrentVal(
            i,
            columns[i],
            updateUserInfoData,
            userId,
            userIdToNumber
          );
          i++;
        }

        //傳統form表單沒有patch方法，所以這邊使用axios，由前端來轉址
        axios
          .patch('http://127.0.0.1:8080/admin/membersinfo', updateUserInfoData)
          .then(success => {
            if (success.status === 200) {
              location.reload();
            }
          })
          .catch(err => {
            console.log(err.response.message)
          });
      } else if(e.target.dataset.userid.split(' ')[1] === 'deleteUserBtn'){
         axios.delete('http://127.0.0.1:8080/admin/membersinfo',{id: userIdToNumber}).then(success => {
          if(success.status === 200){
            location.reload();
          }
        })
      }
      }

    });
  })();
</script>
